<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog de guías</title>
  <link rel="stylesheet" href="../public/styles.css">
  <link rel="icon" type="image/svg+xml" href="../public/favicon.svg" />
</head>
<body>
  <header class="header">
    <div class="container">
      <h1 class="header__title">Guías de Linux</h1>
    </div>
  </header>
  <main class="main">
    <div class="container">
      <div class="posts-grid">
      </div>
    </div>
  </main>
</body>
</html>
